.accountinfo {
    margin: 115px 0;
}

.accountinfo h1{
  text-align: center;
}

.accountinfo .container {
    padding: 50px;
    margin: auto;
}

.accountinfo .content {
    margin-top: 80px;
    /* display: flex;
    justify-content: space-between; */
}

.accountinfo .content .actions {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  gap: 30px;
}

.accountinfo .content .actions button {
  font-size: large;
  color: red;
}

.accountinfo .content .submitForm {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  align-items: center;
  gap: 20px; /* Adjust the gap as needed */
  margin: auto;
}

.accountinfo .left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accountinfo .left img {
  cursor: pointer;
  max-width: 100%; /* Ensure image is responsive */
  height: auto;
  border-radius: 50%;
}

.accountinfo .left form {
    display: none;
}

.accountinfo .right {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the gap as needed */
}

.accountinfo .alert {
  margin-top: 5px;
  padding: 15px;
  color: rgb(223, 0, 0);
  background-color: lightpink;
}

.accountinfo .right label {
    font-size: 17px;
    color: #000;
    margin-bottom: 10px;
    display: block;
}

.accountinfo .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .accountinfo .modal-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4;
    background-color: #fefefe;
    margin: 20% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
  }

  .accountinfo .modal-content p {
    text-align: center;
    font-size: 20px;
  }

  .accountinfo .modal-content button {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
  }

  .accountinfo .modal-content .delete {
    border-color: red;
    color: red;
  }
  
  .accountinfo .modal-content .close:hover {
    background-color: grey;
    color: white;
  }

  .accountinfo .modal-content .delete:hover {
    background-color: red;
    color: white;
  }